canvas {
    border: 2px solid black;
    cursor: pointer;
}
.line {
    display: inline-flex;
    font-size: 30px;
}
* {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}